html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  padding-top: 1em;
  text-align: center;
  background-color: black;
  background-image: url("./images/pageBG.png");
  background-size: cover;
  background-repeat: no-repeat;
}

canvas {
  background-image: url("./images/canvasBG.png");
  background-repeat: repeat;
  background-color: #222;
  width: 960px;
  height: 600px;
  margin: 0 auto;
  display: none;
}

.start-screen,
.info-screen,
.won-screen,
.gameover-screen {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  border: 3px outset grey;
  width: 180px;
  height: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
}
.start-screen {
  display: none;
}
.info-screen {
  display: none;
}
.won-screen {
  display: none;
}
.gameover-screen {
  display: none;
}

#info-close {
  padding: 5px 5px;
  background-color: whitesmoke;
  border: 3px outset grey;
  border-radius: 5px;
  position: absolute;
  bottom: 15px;
  left: 67px;
}

#info-close:hover {
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

#menu,
#resetButton {
  padding: 5px 5px;
  border: 3px outset grey;
  background-color: whitesmoke;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#menu2,
#resetButton2 {
  padding: 5px 5px;
  border: 3px outset grey;
  background-color: whitesmoke;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#menu:hover {
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

#resetButton:hover {
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

#menu2:hover {
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

#resetButton2:hover {
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

#startButton,
#infoButton {
  color: whitesmoke;
  padding: 5px 5px;
  border: 3px outset grey;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#startButton:hover {
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

#infoButton:hover {
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

h4 {
  font-family: "didot";
  color: whitesmoke;
  font-size: 20px;
  margin: 0;
  writing-mode: vertical-lr;
  text-align: center;
  line-height: 0.9;
}

.rotate {
  transform: rotate(180deg);
}

.game-title {
  display: grid;
  height: 20vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: max-content max-content;
}

.icon {
  width: 50px;
  height: 50px;
  display: inline-block;
}

#copyright {
  padding: 1rem;
  color: #ffffff;
  line-height: 32px;
}

.yeet {
  display: flex;
  padding: 1rem;
  align-items: center;
}

footer {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 900px) {
  footer,
  .yeet {
    padding: 0.5rem;
    display: block;
  }
}
